.poster__inner {
    padding: 16px;

    .poster__title  {
        position: sticky;
        top: 70px;
        left: 0;
        width: 70%;
        height: 6vw;
        font-size: 4vw;
        font-weight: 900;
        line-height: 1.6;
        font-family: var(--Noto-font);
        text-transform: uppercase;
        color: var(--black100);
        border-bottom: 0.4vw solid var(--black100);
        margin-bottom: 150px;

        @media (max-width: 800px){ 
            width: 100%;
            margin-bottom: 10vw;
            font-size: 30px;
            height: auto;
            top: 68px;
            z-index: 1000;
            background-color: var(--mainBg-color);
        }

        em {
            font-size: 1.25rem;
            font-weight: 400;
            line-height: 1;
        }
    }
    .poster__wrap {
        .poster__item {
            height: 60vh;
            @include flex-center;
            flex-direction: column;
            position: sticky;
            left: 0;

            &.s1 {
                background-color: var(--subBg100);
                top: 200px;

                @media (max-width: 800px){ 
                    top: 140px;
                }
            }
            &.s2 {
                background-color: var(--subBg200);
                top: 330px;

                @media (max-width: 800px){ 
                    top: 160px;
                }
            }
            &.s3 {
                background-color: var(--subBg300);
                top: 340px;

                @media (max-width: 800px){ 
                    top: 180px;
                }
            }
            &.s4 {
                background-color: var(--subBg400);
                top: 350px;

                @media (max-width: 800px){ 
                    top: 200px;
                }
            }
            &.s5 {
                background-color: var(--subBg400);
                top: 330px;

                @media (max-width: 800px){ 
                    top: 220px;
                }
            }
            &.s6 {
                background-color: var(--subBg300);
                top: 340px;

                @media (max-width: 800px){ 
                    top: 240px;
                }
            }
            &.s7 {
                background-color: var(--subBg200);
                top: 350px;

                @media (max-width: 800px){ 
                    top: 260px;
                }
            }
            &.s8 {
                background-color: var(--subBg100);
                top: 360px;

                @media (max-width: 800px){ 
                    top: 280px;
                }
            }
            .num {
                font-size: 5vw;
                line-height: 1;
                font-weight: 900;
                font-family: var(--mainNum-font);
                position: absolute;
                left: 1vw;
                top: 1vw;

                @media (max-width: 800px){ 
                    font-size: 80px;
                    left: 20px;
                    top: 20px;
                }
            }
            .poster__image {
                position: absolute;
                left: 5vw;
                top: 10vw;
                width: 200px;
                height: auto;

                @media (max-width: 800px){ 
                    
                }
            }
            .text {
                text-align: left;
                margin-bottom: 1rem;

                > div {
                    font-size: 3vw;
                    line-height: 1;
                    font-weight: 900;
                    text-transform: uppercase;
                    text-decoration: underline;
                    font-family: var(--mainEng-font);

                    @media (max-width: 800px){ 
                        font-size: 26px;
                    }
                }
            }
            .title {
                font-size: 4vw;
                position: absolute;
                left: 25vw;
                top: 10vw;
                text-align: left;
                font-family: var(--Noto-font);
                margin-bottom: 1rem;
                white-space: nowrap;
            }
            .subtitle {
                position: absolute;
                left: 25vw;
                top: 15vw;
                text-align: left;
                font-family: var(--Noto-font);
                margin-bottom: 1rem;
                white-space: nowrap;
            }
            .day {
                position: absolute;
                left: 25vw;
                top: 17vw;
                text-align: left;
                font-family: var(--Noto-font);
                margin-bottom: 1rem;
                white-space: nowrap;
            }
        }
    }
}