/* globals.scss */
@import './variables';
@import './Home.scss';
@import './History.scss';
@import './video.scss';
@import './artwork.scss';
@import './news.scss';
@import './footer.scss';
@import './exhibitions_PotoView.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: $background-color; // 전체 배경
    color: $text-color; // 기본 텍스트 색상
}

h1, h2, h3 {
    color: $header-text-color; // 헤더 텍스트 색상 (다크 텍스트)
}

a {
    color: $link-color;  // 링크 색상 (빨간색)
    text-decoration: none;

    &:hover {
        color: $link-hover-color; // 링크 hover 색상 (어두운 빨간색)
    }
}

em, address {
    font-style: normal;
}

/* 블릿기호 초기화 */
ul, li, ol {list-style:none;}

button {
    background-color: $blue-color;  // 버튼 배경 (빨간색)
    color: $button-text-color; // 버튼 텍스트 색상 (흰색)
    border: none;
    padding: 10px 20px;
    cursor: pointer;

    &:hover {
        background: darken($blue-color, 20%) // 버튼 hover 색상
    }
}

.header {
    background-color: $header-background;  // 헤더 배경 (은색)
    padding: 20px;
}

.highlight {
    background-color: $highlight-color; // 강조 색상 (금색)
    color: $highlight-text-color; // 강조 텍스트 색상 (은색)
}